<!DOCTYPE html>
<html lang="en">
    <!-- <head>
        <head th:replace="~{ head :: headFragment}"></head>
        
      </head> -->
<!-- <head>

    <style>
        body {
      background: url("error.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
</head> -->
<head th:replace="~{ head :: headFragment}">
    
</head>
<head>
    <style>
        body {
            background-image: url('/resources/images/error.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    
</body>
</html>