<!DOCTYPE html>
<html lang="en">
  <head>
  
    <head th:replace="~{ head :: headFragment}"></head>
  
    <!--link payment.js-->
    <script src="payment.js"></script>
    <script>
      //to reset the form after clicking on the X mark
     document.addEventListener("DOMContentLoaded", function(){
      var paymentAddModal = document.getElementById('paymentAddModal');
      var formPayment = document.getElementById('formPayment')
  
      paymentAddModal.addEventListener('hidden.bs.modal', function(){
        formPayment.reset();
      });
     });
   </script>
   <style>
      @media print {
        .btn, .modal-footer { display: none !important; }
      }
    </style>
  
  </head>

<body>

  <!--Navbar-->
    <!--<nav th:replace="~{ path::fragmentname}"></nav>-->
    <nav th:replace="~{ topnavbar :: topnavbarFragment}"></nav>
    <!--Navbar ends here-->
  <div class="container-fluid">
    <div class="row p-4">

    </div>

    <!-- title area starts here -->
    <div class="row p-3">
      <div class="col-12 p-3 d-flex justify-content-center div-title text-white">
        <i class="fa-solid fa-user-tie fa-2x"></i>
        <h2 class="h2 ms-3">Payment Management</h2>
      </div>
    </div>
    <!-- title area ends here -->


    <!-- toggle button starts -->
    <div class="row mt-2">
      <div class="col-1"></div>
      <div class="col-10 text-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentAddModal">
          Add A payment Record
        </button>
      </div>
      <div class="col-1"></div>
    </div>
    <!-- toggle button ends here -->

    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card div-card">
          <div class="card-body">
            <!-- table area starts here -->

            <div class="row mt-3">
              <table class="table table-hover table-bordered table-striped border-primary" id="tablePayment">
                <thead class="table-header">
                  <tr>
                    <th>#</th>
                    <!-- #,No,Index -->
                    <th>Payment No</th>
                    <th>Owner</th>
                    <th>Total Amount</th>
                    <th>Paid Amount</th>
                    <th>Balance</th>
                    <th>Modify</th>
                  </tr>
                </thead>
                <tbody class="table-light">
                  
                </tbody>
              </table>
            </div>
            <!-- table area ends here -->
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

  <!-- payment add model -->
  <div class="modal" id="paymentAddModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title"> Add a payment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- form area start -->
          <div class="row mt-2">
            <div class="col-12">

              <form onsubmit="return false;" id="formPayment">
                <div class="card div-card">
                  <div class="card-body">
                    <!-- required mark -->
                    <div class="row mt-2">
                      <div class="col-12 text-end fw-bold">
                        <span class="text-danger">*</span> Required
                      </div>
                    </div>
                    <!-- required mark -->
                     <!--  appointment starts here-->
                     <div class="row mt-2">
                      <div class="col-8">
                        <div>
                          <label for="selectAppNo" class="col-form-label fw-bold">
                            Channeling No + Owner + Service + Pet: <span class="text-danger"></span>
                          </label>
                        </div>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa-solid fa-stethoscope"></i>
                          </span>

                          <select name="consulno" id="selectAppNo"
                              class="form-select form-input" onchange="selectDValidator(this,'','payment','appointment_id');generateAppointmentFee();">
                              
                              <option value="" selected disabled>
                                Select Channeling no
                              </option>
                            </select>
                        </div>
                      </div>
                      <!-- appointment fee ends here -->
                      <!-- appointment fee starts here -->
                    <div class="col-4">
                    <div>
                        <label for="textTotalFee" class="col-form-label fw-bold">
                            Appointment Fee : <span class="text-danger"></span>
                        </label>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text fw-bold">Rs :</span>
                        <input type="text" class="form-control" id="textTotalFee" placeholder="Appointment Fee" readonly>
                        
                    </div>
                    </div>
                    
                      
                     </div>
                     <!-- , appointment ends here-->

                     

                     <div class="row mt-2">
                      <div class="col-4"></div>
                      <div class="col-4">
                        
                      </div>
                      <div class="col-4"></div>
                     </div>

                     <div class="row mt-2">
                      <!--payment method-->
                      <div class="col-4">
                        <div>
                          <label for="selectMethod" class="col-form-label fw-bold">
                            Payment Method : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa-regular fa-credit-card"></i>
                          </span>

                          <select name="method" required id="selectMethod"
                              class="form-select form-input" onchange="handlePaymentMethodChange(this); selectDValidator(this,'','payment','paymentmethod_id')">
                              
                              <option value="" selected disabled>
                                Select payment method
                              </option>
                            </select>
                        </div>
                      </div>
                      
                      <!--paid amount-->
                      <div class="col-4">
                        <div>
                          <label for="textPaidFee" class="col-form-label fw-bold">
                              Paid Amount : <span class="text-danger">*</span>
                          </label>
                          
                      </div>
                      <div class="input-group">
                          <span class="input-group-text fw-bold">Rs :</span>
                          <input type="text" class="form-control" id="textPaidFee" placeholder="Enter paid amount" required onkeyup="generateBalance(); generateValidAmount();">
                      </div>
                      </div>
                      <!--balance-->
                      <div class="col-4">
                        <div>
                          <label for="textBalanceFee" class="col-form-label fw-bold">
                              Balance : <span class="text-danger">*</span>
                          </label>
                          
                      </div>
                      <div class="input-group">
                          <span class="input-group-text fw-bold">Rs :</span>
                          <input type="text" class="form-control" id="textBalanceFee" placeholder="Balance Amount" readonly required >
                      </div>
                      </div>
                     </div>

                     <!-- Reference Number Field (Hidden Initially) -->
                     <div class="row mt-2" id="referenceField" style="display: none;">
                       <div class="col-4">
                         <label for="referenceNo" class="col-form-label fw-bold">Card Reference Number:</label>
                         <input type="text" id="referenceNo" name="referenceNo" class="form-control" placeholder="Enter reference number" onkeyup="textValidator(this, '', 'payment','referenceno')">
                       </div>
                     </div>


                    <div class="row mt-2">
                      <!-- clear button starts here-->
                      <div class="col-4">
                        <button type="reset" class="btn btn-danger rounded-1" id="btnPaymentReset">
                          <i class="fa-solid fa-rotate-right"></i> Reset
                        </button>
                      </div>
                      <!-- clear button ends here -->

                      <div class="col-4"></div>

                      <!-- add button starts here -->
                      <div class="col-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success rounded-1" id="btnPaymentAdd" onclick="buttonFormSubmit()">
                          <i class="fa-solid fa-plus"></i> Submit
                        </button>
                      </div>
                      <!--  add button ends here -->
                    </div>
                  </div>
                </div>
              </form>
              <!-- form area ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--view print modal for payment-->
    <div class="modal" id="paymentViewModal" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">View of Payment Record</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <!-- table area start -->
             <div class="row">
              <div class="col-4"></div>
              <div class="col-4"><img src="/resources/images/Cliniclogo.png" alt="logo" style="width: 250px;"></div>
              <div class="col-4"></div>
             </div>
            <div class="row mt-2">
              <div class="col-12">
                <table id="printAVTable" class="table table-hover table-bordered table-striped">

                        <tr>
                            <td><b>Contact:</b> <br></td>
                            <td colspan="2"> 0372257260 <br> cuddlesandtails@email.com</td>
                            <td><b>Address :</b></td>
                            <td colspan="2"> Colombo Road,<br> Chilaw. </td>
                        </tr>
                        <tr>

                        </tr>

                        <tr>
                            <th>Channeling No : </th>
                            <th id="viewAppointmentNo" colspan="2"></th>
                        </tr>
                        <tr>
                            <th>Doctor : </th>
                            <td id="viewDoctor" colspan="2"></td>

                            <th>Service: </th>
                            <td id="viewService" colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Owner : </th>
                            <td id="viewOwner" colspan="2"></td>

                            <th>Pet: </th>
                            <td id="viewPet" colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Appointment Date : </th>
                            <td id="viewDate" colspan="2"></td>

                            <th>Time: </th>
                            <td id="viewTime" colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Added Date, Time :</th>
                            <td id="viewAddedDate"></td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th id="viewTotal"></th>
                        </tr>
                        <tr>
                          <th>Paid</th>
                          <th id="viewPaid"></th>
                        </tr>
                        <tr>
                          <th>Balance</th>
                          <th id="viewBalance"></th>
                        </tr>

                    </table>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="btnPrintRow();">print</button>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>