<!DOCTYPE html>
<html lang="en">
    <head>
      <head th:replace="~{ head :: headFragment}"></head>
    </head>
  <body>
    <!--Navbar-->
    <!--<nav th:replace="~{ path::fragmentname}"></nav>-->
    <nav th:replace="~{ topnavbar :: topnavbarFragment}"></nav>
    <!--Navbar ends here-->
    <div class="container-fluid">
      <div class="row p-4">

      </div>

        <!-- title area starts here -->
        <div class="row p-3">
            <div class="col-12 p-3 d-flex justify-content-center div-title text-white">
              <i class="fa-solid fa-user-tie fa-2x"></i>
              <h2 class="h2 ms-3">Privilege Management</h2>
            </div>
          </div>
          <!-- title area ends here -->


      <!-- toggle button starts -->
      <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-10 text-end">
          <button type="button"class="btn btn-primary"data-bs-toggle="modal"data-bs-target="#modalPrivilegeAddForm">
            Add Privilege
          </button>
        </div>
        <div class="col-1"></div>
      </div>
      <!-- toggle button starts -->

      <div class="row mt-3">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="card div-card">
            <div class="card-body">
              <!-- table area starts here -->

              <div class="row mt-3">
                <table
                  class="table table-hover table-bordered table-striped border-primary" id="tablePrivilege">
                  <thead class="table-header">
                    <tr>
                      <th>#</th>
                      <!-- #,No,Index -->
                      <th>Role</th>
                      <th>Module</th>
                      <th>Select</th>
                      <th>Insert</th>
                      <th>Update</th>
                      <th>Delete</th>
                      <th>Modify</th>
                    </tr>
                  </thead>
                  <tbody class="table-light">

                    <tr>
                      <td>2</td>
                      <td>Static Role</td>
                      <td>Static Module</td>
                      <td>Granted</td>
                      <td>Not-granted</td>
                      <td>Granted</td>
                      <td>Not-granted</td>
                      <td>
                        <button type="button" class="btn btnall btn-info">
                          <i class="fa-solid fa-pen-to-square"></i> Update</button>
                        <button type="button" class="btn btnall btn-danger">
                          <i class="fa-solid fa-trash"></i> Delete</button>
                        <button type="button" class="btn btnall btn-success">
                          <i class="fa-solid fa-eye"></i> Print</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- table area ends here -->
            </div>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <!-- privilege add model -->
    <div class="modal" id="modalPrivilegeAddForm" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <h1 class="modal-title">Add Privilege</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <!-- form area start -->
            <div class="row mt-2">
              <div class="col-12">

                <form onsubmit="return false" id="privilegeForm">
                  <div class="card div-card">
                    <div class="card-body">
                      <!-- required mark -->
                      <div class="row mt-2">
                        <div class="col-12 text-end fw-bold">
                          <span class="text-danger">*</span> Required
                        </div>
                      </div>
                      <!-- required mark -->

                      <!-- role starts here -->
                      <div class="row mt-2">
                        <label for="selectRoles"class="col-3 col-form-label fw-bold">
                          Role : <span class="text-danger"> * </span>
                        </label>
                        <div class="col-9">
                          <select class="form-select" aria-label="Default select example" onchange="generateModuleList(); selectDValidator(this, '', 'privilege', 'role_id')" required id="selectRoles">
                            <option selected disabled>Select Role</option>
                            <option value="Admin">Admin</option>
                            <option value="Manager">Manager</option>
                            <option value="Cashier">Cashier</option>
                          </select>
                        </div>
                      </div>
                      <!-- role ends here-->

                      <!-- module starts here -->
                      <div class="row mt-2">
                        <label for="selectmodules"class="col-3 col-form-label fw-bold">
                          Module : <span class="text-danger"> * </span>
                        </label>
                        <div class="col-9">
                          <select class="form-select" aria-label="Default select example"  required id="selectmodules" onchange="selectDValidator(this, '', 'privilege', 'module_id')" >
                            <option selected disabled>Select Module</option>
                            <option value="employee">Employee</option>
                            <option value="user">User</option>
                            <option value="pet">Pet</option>
                          </select>
                        </div>
                      </div>
                      <!-- module ends here-->

                      <!--select , insert, update , delete checkboxes starts here-->
                      <div class="row mt-2">
                        <div class="col-4"><label for=""> Select : </label></div>                       
                        <div class="col-8 form-check">
                          <label class="form-check-label" for="checkboxselect" id="labelCBSelect">Select Privilege Not Granted</label>
                          <input class="form-check-input" type="checkbox" id="checkboxselect" onchange="checkPrivi(checkboxselect,' ','privilege','sel' , true , false,
                                 labelCBSelect, 'Select Privilege <b>Granted</b>','Select Privilege Not Granted')">
                          
                        </div>
                      </div>

                      <div class="row mt-2">
                        <div class="col-4"><label for="" class=""> Insert : </label></div>
                        <div class="col-8 form-check">
                          <label class="form-check-label" for="checkboxinsert" id="labelCBInsert">Insert Privilege Not Granted</label>
                          <input class="form-check-input" type="checkbox" id="checkboxinsert" onchange="checkPrivi(checkboxinsert,' ','privilege','inst',true,false,
                               labelCBInsert,'Select Privilege <b>Granted</b>','Select Privilege Not Granted' )">
                          
                        </div>
                        
                      </div>

                      <div class="row mt-2">
                        <div class="col-4"><label for="" class=""> Update : </label></div>
                        <div class="col-8 form-check">
                          <label class="form-check-label" for="checkboxupdate" id="labelCBUpdate">Update Privilege Not Granted</label>
                          <input class="form-check-input" type="checkbox" id="checkboxupdate" onchange="checkPrivi(checkboxupdate,' ','privilege','upd',true,false,
                                labelCBUpdate,'Select Privilege <b>Granted</b>','Select Privilege Not Granted' )">
                          
                        </div>                        
                      </div>

                      <div class="row mt-2">
                        <div class="col-4"><label for="" class=""> Delete : </label></div>
                        <div class="col-8 form-check">
                          <label class="form-check-label" for="checkboxdelete" id="labelCBDelete">Delete Privilege Not Granted</label>
                          <input class="form-check-input" type="checkbox" id="checkboxdelete" onchange="checkPrivi(checkboxdelete,' ','privilege','del',true,false,
                                labelCBDelete,'Select Privilege <b>Granted</b>','Select Privilege Not Granted' )">
                          
                        </div>
                      </div>
                      <!--select , insert, update , delete checkboxes ends here-->
                      
                      </div>

                      <div class="row mt-2">
                        <!-- clear button starts here-->
                        <div class="col-4">
                            <button class="btn btn-danger rounded-1" type="button" id="btnPrivilegeReset"><i class="fa-solid fa-rotate-right"></i> Reset</button>
                        </div>
                        <!-- clear button ends here -->

                        <div class="col-4"></div>

                        <!-- update & add button starts here -->
                        <div class="col-4 d-flex justify-content-center">
                            <button class="btn btn-warning text-white rounded-1" type="button" id="btnPrivilegeUpdate" onclick="updatePrivilege()"><i class="fa-solid fa-arrows-rotate"></i> Update</button>
                            <button class="btn btn-success rounded-1" type="submit" id="btnPrivilegeAdd" onclick="buttonPrivilegeAdd()"><i class="fa-solid fa-plus" ></i> Add  </button>
                        </div>
                        <!-- update & add button ends here -->
                    </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- form area ends -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--link privilege js file-->
    <script src="privilege.js"></script>
    <script>
      //to reset the form after clicking on the X mark
     document.addEventListener("DOMContentLoaded", function(){
      var privilegeModal = document.getElementById('modalPrivilegeAddForm');
      var formPrivilege = document.getElementById('privilegeForm')
  
      privilegeModal.addEventListener('hidden.bs.modal', function(){
        formPrivilege.reset();
      });
     });
   </script>
  </body>
</html>