<!DOCTYPE html>
<html lang="en">
  <head>
    <head th:replace="~{ head :: headFragment}"></head>

    <!--link reportdailyvacpayment.js-->
    <script src="reportdailyvacpayment.js"></script>

    
  </head>



<body>
  <!--Navbar-->
    <!--<nav th:replace="~{ path::fragmentname}"></nav>-->
    <nav th:replace="~{ topnavbar :: topnavbarFragment}"></nav>
    <!--usereditmodal fragment-->
    <nav th:replace="~{ usereditmodal :: userEditModalFragment}"></nav>
    <!--Navbar ends here-->
  <div class="container-fluid">
    <div class="row mt-3"></div>

    <!-- title area starts here -->
    <div class="row p-3" style="margin-top: 40px;">
      <div class="col-12 p-3 d-flex justify-content-center div-title text-white">
        <i class="fa-solid fa-user-tie fa-2x"></i>
        <h2 class="h2 ms-3">Daily Vaccination Payment Report</h2>
      </div>
    </div>
    <!-- title area ends here -->

    <div class="row mt-2">
      <div class="col-4"></div>
      <div class="col-4">
        
          <!-- date starts here -->
          <div class="col">
            <div>
              <label for="reportDate" class="col-form-label fw-bold">
                Date : <span class="text-danger">*</span>
              </label>
            </div>
            <div>
              <input type="date" class="form-control" required id="reportDate"/>
            </div>
          </div>
          <!-- date ends here -->
           <!--total starts here-->
           <div class="col">
            <div>
              <label for="textTotalFee" class="col-form-label fw-bold">
                Total Amount : <span class="text-danger">*</span>
              </label>
            </div>
            <div class="input-group">
                <span class="input-group-text fw-bold">Rs :</span>
                <input type="text" class="form-control" id="textTotalFee" placeholder="Total Fee" readonly>    
            </div>
           </div>
           <!--total ends here-->
           <div class="col">
            <button type="button" class="btn btn-primary" style="margin-left: 250px; margin-top: 20px;" onclick="generateReport()">Generate</button>
          </div>
      </div>
      <div class="col-4"></div>
    </div>
          
  </div>

<!--vaccination payments table starts-->
<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col-8">

    <table class="table table-hover table-bordered table-striped border-primary" id="tableReportDailyVaccination">
    <thead class="table-header">
      <tr>
        <th>#</th>
        <!-- #,No,Index -->
        <th>Record No</th>
        <th>Owner</th>
        <th>Total Amount</th>
        <th>Paid Amount</th>
        <th>Balance Amount</th>
      </tr>
    </thead>
    <tbody class="table-light">
      
    </tbody>
   </table>

  </div>
  <div class="col-2"></div>
</div>
<!--vaccination payments table ends -->

</body>

</html>