<!DOCTYPE html>
<html lang="en">
  <head>
  
    <head th:replace="~{ head :: headFragment}"></head>
  
    <!--link suppayment.js-->
    <script src="suppayment.js"></script>
    <script>
      //to reset the form after clicking on the X mark
     document.addEventListener("DOMContentLoaded", function(){
      var suppaymentAddModal = document.getElementById('suppaymentAddModal');
      var formSuppayment = document.getElementById('formSuppayment')
  
      suppaymentAddModal.addEventListener('hidden.bs.modal', function(){
        formSuppayment.reset();
      });
     });
   </script>
  
  </head>

<body>

  <!--Navbar-->
    <!--<nav th:replace="~{ path::fragmentname}"></nav>-->
    <nav th:replace="~{ topnavbar :: topnavbarFragment}"></nav>
    <!--Navbar ends here-->
  <div class="container-fluid">
    <div class="row p-4">

    </div>

    <!-- title area starts here -->
    <div class="row p-3">
      <div class="col-12 p-3 d-flex justify-content-center div-title text-white">
        <i class="fa-solid fa-user-tie fa-2x"></i>
        <h2 class="h2 ms-3">Supplier Payment Management</h2>
      </div>
    </div>
    <!-- title area ends here -->


    <!-- toggle button starts -->
    <div class="row mt-2">
      <div class="col-1"></div>
      <div class="col-10 text-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#suppaymentAddModal">
          Add A payment Record
        </button>
      </div>
      <div class="col-1"></div>
    </div>
    <!-- toggle button ends here -->

    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card div-card">
          <div class="card-body">
            <!-- table area starts here -->

            <div class="row mt-3">
              <table class="table table-hover table-bordered table-striped border-primary" id="tableSuppayment">
                <thead class="table-header">
                  <tr>
                    <th>#</th>
                    <!-- #,No,Index -->
                    <th>Supplier Name</th>
                    <th>Total Amount</th>
                    <th>Paid Amount</th>
                    <th>Balance</th>
                    <th>Bill No</th>
                    <th>Modify</th>
                  </tr>
                </thead>
                <tbody class="table-light">
                  
                </tbody>
              </table>
            </div>
            <!-- table area ends here -->
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

  <!-- supplier payment add model -->
  <div class="modal" id="suppaymentAddModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title"> Add a payment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- form area start -->
          <div class="row mt-2">
            <div class="col-12">

              <form onsubmit="return false;" id="formSuppayment">
                <div class="card div-card">
                  <div class="card-body">
                    <!-- required mark -->
                    <div class="row mt-2">
                      <div class="col-12 text-end fw-bold">
                        <span class="text-danger">*</span> Required
                      </div>
                    </div>
                    <!-- required mark -->

                    <div class="row mt-2">
                      <div class="col-3"></div>
                      <div class="col-6">
                        <div>
                          <label for="selectSupplierName" class="col-form-label fw-bold">
                            Supplier Name : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa-solid fa-user"></i>
                          </span>

                          <select name="supplier" required id="selectSupplierName"
                              class="form-select form-input" onchange="selectDValidator(this,'','supplierpayment','supplier_id'); getReceiveBySupplier();">
                              
                              <option value="" selected disabled>
                                Select Supplier
                              </option>
                            </select>
                        </div>
                      </div>
                      <div class="col-3"></div>
                     </div>
                     <!--inner form starts here-->
                     <div class="row mt-3">
                      <div class="card div-card">
                        <div class="card-body">
                          <!--receive note select starts here-->
                          <div class="row mt-2">
                             <div class="col-3"></div>
                             <div class="col-6">
                             <div>
                               <label for="selectReceiveNote" class="col-form-label fw-bold">
                                 Receive Note : <span class="text-danger">*</span>
                               </label>
                             </div>
                             <div class="input-group">
                               <span class="input-group-text"><i class="fa-solid fa-clipboard"></i></span>
     
                               <select name="receivenote" required id="selectReceiveNote"
                                   class="form-select form-input" onchange="selectDValidator(this,'','supplierpaymenthasreceive','receive_id'); generateTotalFee();">
                                   
                                   <option value="" selected disabled>
                                     Select Receive Note
                                   </option>
                                 </select>
                             </div>
                             </div>
                             <div class="col-3"></div>
                          </div>
                          <!--receive note select ends here-->

                          <div class="row mt-2">
                            <!-- total fee starts here -->
                            <div class="col-4">
                              <div>
                                  <label for="textTotalFee" class="col-form-label fw-bold">
                                      Total Amount : <span class="text-danger"></span>
                                  </label>
                              </div>
                              <div class="input-group">
                                  <span class="input-group-text fw-bold">Rs :</span>
                                  <input type="text" class="form-control" id="textTotalFee" placeholder="Total Amount" readonly 
                                  onkeyup="generateTotalFee();">
                                  
                              </div>
                           </div>
                          <!-- total fee ends here -->
                           <!-- paid fee starts here -->
                           <div class="col-4">
                            <div>
                                <label for="textPaidFee" class="col-form-label fw-bold">
                                    Paid Amount : <span class="text-danger"></span>
                                </label>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text fw-bold">Rs :</span>
                                <input type="text" class="form-control" id="textPaidFee" placeholder="Paid Amount" onkeyup="generateBalance();">
                               
                            </div>
                          </div>
                          <!-- paid fee ends here -->
                           <!-- balance fee starts here -->
                           <div class="col-4">
                            <div>
                                <label for="textBalanceFee" class="col-form-label fw-bold">
                                    Balance : <span class="text-danger"></span>
                                </label>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text fw-bold">Rs :</span>
                                <input type="text" class="form-control" id="textBalanceFee" placeholder="Balance Amount" readonly >
                                
                            </div>
                          </div>
                          <!-- balance fee ends here -->
                          </div>

                          <div class="row mt-2">
                            <!-- clear button starts here-->
                            <div class="col-4">
                              <button type="reset" class="btn btn-danger rounded-1" id="btnInnerReset" >
                                <i class="fa-solid fa-rotate-right"></i> Reset
                              </button>
                            </div>
                            <!-- clear button ends here -->
      
                            <div class="col-4"></div>
      
                            <!-- update & add button starts here -->
                            <div class="col-4 d-flex justify-content-center">
                              <button type="submit" class="btn btn-success rounded-1" id="buttonInnerAdd" onclick="innerSubmit()">
                                <i class="fa-solid fa-plus"></i> Add
                              </button>
                            </div>
                            <!-- update & add button ends here -->
                          </div>

                          <!--inner table-->
                          <div class="row mt-2">
                            <table class="table table-hover table-bordered table-striped border-primary" id="InnerTable">
                              <thead class="table-header">
                                <tr>
                                  <th>#</th>
                                  <!-- #,No,Index -->
                                  <th>Receive ID</th>
                                  <th>Total Amount</th>
                                  <th>Paid Amount</th>
                                  <th>Balance</th>
                                  <th>Modify</th>
                                  
                                </tr>
                              </thead>
                              <tbody class="table-light">
                                
                              </tbody>
                            </table>
                          </div>
                          <!--inner table ends here-->

                        </div>
                      </div>
                     </div>
                     <!--inner form ends here-->
                     
                     <div class="row mt-2">
                      <div class="col-4"></div>
                      <div class="col-4">
                        <div>
                          <label for="selectMethod" class="col-form-label fw-bold">
                            Payment Method : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa-regular fa-credit-card"></i>
                          </span>

                          <select name="method" required id="selectMethod"
                              class="form-select form-input" onchange="selectDValidator(this,'','supplierpayment','paymentm')">
                              
                              <option value="" selected disabled>
                                Select payment method
                              </option>
                            </select>
                        </div>
                      </div>
                      <div class="col-4"></div>
                     </div>

                     <div class="row mt-2">
                      <!--total amount-->
                      <div class="col-4">
                        <div>
                          <label for="textTotalAmount" class="col-form-label fw-bold">
                              Total Amount : <span class="text-danger"></span>
                          </label>
                        </div>
                      <div class="input-group">
                          <span class="input-group-text fw-bold">Rs :</span>
                          <input type="text" class="form-control" id="textTotalAmount" placeholder="Total amount" readonly required>
                          
                      </div>
                      </div>
                      <!--paid amount-->
                      <div class="col-4">
                        <div>
                          <label for="textPaidAmount" class="col-form-label fw-bold">
                              Paid Amount : <span class="text-danger">*</span>
                          </label>
                          
                      </div>
                      <div class="input-group">
                          <span class="input-group-text fw-bold">Rs :</span>
                          <input type="text" class="form-control" id="textPaidAmount" placeholder="Enter paid amount" required>
                          
                      </div>
                      </div>
                      <!--balance-->
                      <div class="col-4">
                        <div>
                          <label for="textBalanceAmount" class="col-form-label fw-bold">
                              Balance Amount : <span class="text-danger"></span>
                          </label>
                        </div>
                      <div class="input-group">
                          <span class="input-group-text fw-bold">Rs :</span>
                          <input type="text" class="form-control" id="textBalanceAmount" placeholder="Balance amount" readonly required>
                          
                      </div>
                      </div>
                     </div>


                    <div class="row mt-2">
                      <!-- clear button starts here-->
                      <div class="col-4">
                        <button type="reset" class="btn btn-danger rounded-1" id="btnPaymentReset">
                          <i class="fa-solid fa-rotate-right"></i> Reset
                        </button>
                      </div>
                      <!-- clear button ends here -->

                      <div class="col-4"></div>

                      <!-- update & add button starts here -->
                      <div class="col-4 d-flex justify-content-center">
                        
                        <button type="submit" class="btn btn-success rounded-1" id="btnPaymentAdd" onclick="buttonFormSubmit()">
                          <i class="fa-solid fa-plus"></i> Submit
                        </button>
                      </div>
                      <!-- update & add button ends here -->
                    </div>
                  </div>
                </div>
              </form>
              <!-- form area ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--view print modal for Supplier payment-->
    <div class="modal" id="supPaymentViewModal" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">View Supplier Payment Record</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <!-- table area start -->
            <div class="row mt-2">
              <div class="col-12">
                <table id="printSupPaymentTable" class="table table-hover table-bordered table-striped border-primary">
                  <tr>
                    <th>Supplier Name</th>
                    <th id="viewSupplier"></th>
                  </tr>
                  <tr>
                    <td>Total Amount</td>
                    <td id="viewTotal"></td>            
                  </tr>
                  <tr>
                    <td>Paid Amount</td>
                    <td id="viewPaid"></td>            
                  </tr>
                  <tr>
                    <td>Balance</td>
                    <td id="viewBalance"></td>            
                  </tr>
                  <tr>
                    <td>Date Time</td>
                    <td id="viewMobileno"></td>            
                  </tr>
                  
              </table>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="printpage();">print</button>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>