<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <head th:replace="~{ head :: headFragment}"></head>
  
    <!--link vaccineinventory.js-->
    <script src="vaccineinventory.js"></script>
    
  </head>
</head>
<body>

    <!--Navbar-->
    <!--<nav th:replace="~{ path::fragmentname}"></nav>-->
    <nav th:replace="~{ topnavbar :: topnavbarFragment}"></nav>
    <!--Navbar ends here-->
  <div class="container-fluid">
    <div class="row p-4">

    </div>

    <!-- title area starts here -->
    <div class="row p-3">
      <div class="col-12 p-3 d-flex justify-content-center div-title text-white">
        <i class="fa-solid fa-user-tie fa-2x"></i>
        <h2 class="h2 ms-3">Vaccine Inventory Management</h2>
      </div>
    </div>
    <!-- title area ends here -->

    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card div-card">
          <div class="card-body">
            <!-- table area starts here -->

            <div class="row mt-3">
              <table class="table table-hover table-bordered table-striped border-primary" id="tableVaccineInventory">
                <thead class="table-header">
                  <tr>
                    <th>#</th>
                    <!-- #,No,Index -->
                    <th>Vaccine Name</th>
                    <th>Received Date</th>
                    <th>Expire Date</th>
                    <th>Total Quantity</th>
                    <th>Available Quantity</th>
                    <th>Remove Quantity</th>
                    <th>Modify</th>
                  </tr>
                </thead>
                <tbody class="table-light">
                  
                </tbody>
              </table>
            </div>
            <!-- table area ends here -->
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
    
</body>
</html>