<!DOCTYPE html>
<html lang="en">

<head>
  <head th:replace="~{ head :: headFragment}"></head>

<!--link vaccination.js-->
<script src="vaccination.js"></script>
<script>
  //to reset the form after clicking on the X mark
 document.addEventListener("DOMContentLoaded", function(){
  var vaccinationAddModal = document.getElementById('vaccinationAddModal');
  var formVaccination = document.getElementById('formVaccination')

  vaccinationAddModal.addEventListener('hidden.bs.modal', function(){
    formVaccination.reset();
  });
 });
</script>
</head>

<body>
  <!--Navbar-->
    <!--<nav th:replace="~{ path::fragmentname}"></nav>-->
    <nav th:replace="~{ topnavbar :: topnavbarFragment}"></nav>
    <!--Navbar ends here-->
  <div class="container-fluid">
    <div class="row p-4">

    </div>

    <!-- title area starts here -->
    <div class="row p-3">
      <div class="col-12 p-3 d-flex justify-content-center div-title text-white">
        <i class="fa-solid fa-syringe fa-2x"></i>
        <h2 class="h2 ms-3">Vaccination Management</h2>
      </div>
    </div>
    <!-- title area ends here -->


    <!-- toggle button starts -->
    <div class="row mt-2">
      <div class="col-1"></div>
      <div class="col-10 text-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vaccinationAddModal">
          Add A Vaccination Record
        </button>
      </div>
      <div class="col-1"></div>
    </div>
    <!-- toggle button ends here -->

    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card div-card">
          <div class="card-body">
            <!-- table area starts here -->

            <div class="row mt-3">
              <table class="table table-hover table-bordered table-striped border-primary" id="tableVaccinationRecord">
                <thead class="table-header">
                  <tr>
                    <th>#</th>
                    <!-- #,No,Index -->
                    <th>Vaccine R_No</th>
                    <th>Pet</th>
                    <th>Owner</th>
                    <th>Vaccination Name</th>
                    <th>Vaccination Date </th>
                    <th>Next Vaccination Date</th>
                    <th>Doctor</th>
                    <th>Modify</th>
                  </tr>
                </thead>
                <tbody class="table-light">
                  
                </tbody>
              </table>
            </div>
            <!-- table area ends here -->
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

  <!-- employee add model -->
  <div class="modal" id="vaccinationAddModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title"> Add a vaccination Record</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- form area start -->
          <div class="row mt-2">
            <div class="col-12">

              <form onsubmit="return false;" id="formVaccination">
                <div class="card div-card">
                  <div class="card-body">
                    <!-- required mark -->
                    <div class="row mt-2">
                      <div class="col-12 text-end fw-bold">
                        <span class="text-danger">*</span> Required
                      </div>
                    </div>
                    <!-- required mark -->
                     <div class="row mt-2">
                      <div class="col-6">
                        <div>
                          <label for="textOwnerName" class="col-form-label fw-bold">
                            Owners Name : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa-solid fa-user"></i>
                          </span>

                          <select name="owner" required id="selectOwner"
                              class="form-select form-input" onchange="selectDValidator(this,'','vaccinationrecord','owner_id'); generateOwnerMobile();filterPets();">
                              
                              <option value="" selected disabled>
                                Select Owner
                              </option>
                            </select>
                        </div>

                      </div>
                      <div class="col-6">
                        <div>
                          <label for="textMobile" class="col-form-label fw-bold">
                            Mobile : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa-solid fa-mobile"></i>
                          </span>

                          <input type="text" id="textMobile" class="form-control" placeholder="Enter Mobile"
                            required onkeyup="textValidator(this,'^[0][7][01245678][0-9]{7}$','vaccinationrecord','mobile')" />
                        </div>
                      </div>
                     </div>

                    <!-- pet name starts here -->
                    <div class="row mt-2">
                      <div class="col-6">
                        <div>
                          <label for="textPetName" class="col-form-label fw-bold">
                            Pet Name : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa-solid fa-dog"></i>
                          </span>

                          <select name="pet" required id="selectPet" disabled
                              class="form-select form-input" onchange="selectDValidator(this,'','vaccinationrecord','pet_id')">
                              
                              <option value="" selected disabled>
                                Select Pet
                              </option>
                            </select>
                        </div>
                      </div>
                      <!-- pet name ends here -->

                      <!-- vaccination name starts here -->
                      <div class="col-6">
                        <div>
                          <label for="textVaccinationName" class="col-form-label fw-bold">
                            Vaccination Name :
                            <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa-solid fa-syringe"></i>
                          </span>

                          <select name="vaccination" required id="selectVaccination"
                              class="form-select form-input" onchange="selectDValidator(this,'','vaccinationrecord','vaccine_id'); generateVaccinePrice(); calculateNextVaccinationDate();">
                              
                              <option value="" selected disabled>
                                Select Vaccination
                              </option>
                            </select>
                        </div>
                      </div>
                      <!-- vaccination name ends here -->

                    </div>

                    <div class="row mt-2">
                      <!-- date of vaccination starts here -->
                      <div class="col-4">
                        <div>
                          <label for="dateOfVaccination" class="col-form-label fw-bold">
                            Date Of Vaccination : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div>
                          <input type="date" class="form-control" required id="dateOfVaccination" onchange="textValidator(this, '^[0-9]{4}[-][0-9]{2}[-][0-9]{2}$','vaccinationrecord','dateofvaccination');"/>
                        </div>
                      </div>
                      <!-- date of vaccination ends here -->

                      

                      <!-- date of next vaccination starts here -->
                      <div class="col-4">
                        <div>
                          <label for="dateOfNextVaccination" class="col-form-label fw-bold">
                            Date Of Next Vaccination : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div>
                          <input type="date" class="form-control" required id="dateOfNextVaccination" onchange="textValidator(this, '^[0-9]{4}[-][0-9]{2}[-][0-9]{2}$','vaccinationrecord','dateofnextvaccination')"/>
                        </div>
                      </div>
                      <!-- date of next vaccination ends here -->
                       <!-- doctor starts here -->
                      <div class="col-4">
                        <div>
                          <label for="selectDoctor" class="col-form-label fw-bold">
                            Select a Doctor : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div>
                          <select name="doctor" required id="selectDoctor" class="form-select form-input" onchange="selectDValidator(this,'','vaccinationrecord','doctor_id')">
                            <option value="" selected disabled>
                              Select A Doctor
                            </option>
                            
                          </select>
                        </div>
                      </div>
                      <!-- doctor ends here -->
                    </div>

                    <!--payment method starts here-->
                    <div class="row mt-2">
                      <div class="col-4"></div>
                      <div class="col-4">
                        <div>
                          <label for="selectMethod" class="col-form-label fw-bold">
                            Payment Method : <span class="text-danger">*</span>
                          </label>
                        </div>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa-regular fa-credit-card"></i>
                          </span>

                          <select name="method" required id="selectMethod"
                              class="form-select form-input" onchange="selectDValidator(this,'','vaccinationrecord','paymentmethod_id')">
                              
                              <option value="" selected disabled>
                                Select payment method
                              </option>
                            </select>
                        </div>
                      </div>
                      <div class="col-4"></div>
                     </div>
                    <!--payment method ends here-->

                    <div class="row mt-2">
                      <!-- total fee starts here -->
                    <div class="col-4">
                      <div>
                          <label for="textTotalFee" class="col-form-label fw-bold">
                              Total Fee : <span class="text-danger">*</span>
                          </label>
                      </div>
                      <div class="input-group">
                          <span class="input-group-text fw-bold">Rs :</span>
                          <input type="text" class="form-control" id="textTotalFee" placeholder="Enter Total Fee" required onkeyup="textValidator(this, '','vaccinationrecord','totalamount')">
                          
                      </div>
                  </div>
                  <!-- total fee ends here -->
                   <!--paid amount-->
                      <div class="col-4">
                        <div>
                          <label for="textPaidFee" class="col-form-label fw-bold">
                              Paid Amount : <span class="text-danger">*</span>
                          </label>
                          
                      </div>
                      <div class="input-group">
                          <span class="input-group-text fw-bold">Rs :</span>
                          <input type="text" class="form-control" id="textPaidFee" placeholder="Enter paid amount" required onkeyup="generateBalance(); generateValidAmount();">
                      </div>
                      </div>
                      <!--balance-->
                      <div class="col-4">
                        <div>
                          <label for="textBalanceFee" class="col-form-label fw-bold">
                              Balance : <span class="text-danger">*</span>
                          </label>
                          
                      </div>
                      <div class="input-group">
                          <span class="input-group-text fw-bold">Rs :</span>
                          <input type="text" class="form-control" id="textBalanceFee" placeholder="Balance Amount" readonly required >
                      </div>
                      </div>
                    </div>


                    <div class="row mt-2">
                      <!-- clear button starts here-->
                      <div class="col-4">
                        <button type="reset" class="btn btn-danger rounded-1" id="btnEmpReset">
                          <i class="fa-solid fa-rotate-right"></i> Reset
                        </button>
                      </div>
                      <!-- clear button ends here -->

                      <div class="col-4"></div>

                      <!-- update & add button starts here -->
                      <div class="col-4 d-flex justify-content-center">
                        <button disabled type="submit" class="btn btn-warning text-white rounded-1" id="btnVaccineUpdate" onclick="buttonVaccinationRUpdate()">
                          <i class="fa-solid fa-arrows-rotate"></i> Update
                        </button>
                        <button type="submit" class="btn btn-success rounded-1" id="btnVaccineAdd" onclick="buttonFormSubmit()">
                          <i class="fa-solid fa-plus"></i> Submit
                        </button>
                      </div>
                      <!-- update & add button ends here -->
                    </div>
                  </div>
                </div>
              </form>
              <!-- form area ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--view print modal for Vaccination-->
    <div class="modal" id="vaccinationViewModal" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">View of Vaccination Record</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <!-- table area start -->
             <div class="row">
              <div class="col-4"></div>
              <div class="col-4"><img src="/resources/images/Cliniclogo.png" alt="logo" style="width: 250px;"></div>
              <div class="col-4"></div>
             </div>
            <div class="row mt-2">
              <div class="col-12">
                
                <h6>Contact : 0322246867       Email : cuddlesandtails@email.com       Address : Colombo Road, Chilaw</h6>
                <br>
                <table id="printAppointmentTable" class="table table-hover table-bordered table-striped border-primary">
                  
                  <tr>
                    <th>Vaccination Record No</th>
                    <th id="viewVaccinationRecordNo"></th>
                  </tr>
                  <tr>
                    <th>Owner</th>
                    <th id="viewOwner"></th>
                  </tr>
                  <tr>
                    <th>Pet</th>
                    <th id="viewPet"></th>
                  </tr>
                  <tr>
                    <th>Vaccination Name</th>
                    <th id="viewVaccinationName"></th>
                  </tr>
                  <tr>
                    <th>Vaccination Date</th>
                    <th id="viewVaccinationDate"></th>
                  </tr>
                  <tr>
                    <th>Next Vaccination Date</th>
                    <th id="viewNextVaccinationDate"></th>
                  </tr>
                  <tr>
                    <th>Doctor</th>
                    <th id="viewDoctor"></th>
                  </tr>
                  
                  
                  
              </table>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="printpage();">print</button>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>